<div class="container p-3">
    <h1>Lista de productos </h1>
                <table class="table table-light table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Code</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Category</th>
                    </tr>
                </thead>
                <tbody id="listaProductos">
                </tbody>
            </table>
        <script src='/socket.io/socket.io.js'></script>
    <script src='/js/realtimeproducts.js'></script>
</div>