<div class="container p-3">
    <div>
        <h1>Bienvenido/a, {{userInfo.first_name}}!  <button class="btn btn-info m-2" onclick="location.href='/profile'"> Acceder a Perfil</button></h1> 
        
    </div>
    <h2>Lista de productos </h2>
                <table class="table table-light table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Code</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Category</th>
                    </tr>
                </thead>
                <tbody id="listaProductos">
                </tbody>
            </table>
            <form action="/logout" method="GET">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        <script src='/socket.io/socket.io.js'></script>
    <script src='/js/realtimeproducts.js'></script>
</div>