{{!--pagina de inicio con productos estaticos --}}
<div class="container p-3">
    <div>
        <h1 >Bienvenido/a, <strong class="titulo">{{ userInfo.first_name}}</strong> ! <button class="btn btn-info m-2" onclick="location.href='/profile'"> Acceder a Perfil</button><button class="btn btn-warning m-2 " id="toTheChat" onclick="location.href='/chat'"> Acceder a Chat</button><button class="btn btn-secondary m-2 " onclick="location.href='/api/products'"> Acceder a Productos</button><button class="btn btn-success m-2 " onclick="location.href='/products/realtimeproducts'"> Acceder Modificacion de productos</button><button class="btn btn-primary m-2 " onclick="location.href='/api/sessions/premium/:uid'"> Acceder Modificacion de role</button></h1>
        
    </div>
    <h2>¡Lista de productos de la Tienda!</h2>
                <table class="table table-light table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Code</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Category</th>
                        <th scope="col">Owner</th>
                    </tr>
                </thead>
                <tbody id="listaProductos">
                </tbody>
            </table>
            <form action="/api/sessions/logout" method="GET">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        <script src='/socket.io/socket.io.js'></script>
    <script src='/js/realtimeproducts.js'></script>
</div>