<h1>Sumar Producto!</h1>
<form action="/products" method="post">
<label for="title">title</label><input type=" text" name="title" id="">
<label for="description">description</label><input type=" text" name="description" id="">
<label for="stock">stock</label><input type=" text" name="stock" id="">
<label for="category">category</label><input type=" text" name="category" id="">
<label for="price">price</label><input type=" text" name="price" id="">
<label for="thumbnail">thumbnail</label><input type=" text" name="thumbnail" id="">
<label for="code">code</label><input type=" text" name="code" id="">
<input type="submit" value="Crear!">
</form>