

<div class="card mb-3 p-2 m-2" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title"><b>Nombre: </b>{{ this.fullname }}</h5>
    <h5 class="card-text"> <b>Mail: </b>{{ this.email }}</h5>
    <h5 class="card-text"><b> Edad: </b> {{ this.age }}</h5>
    <form action="/api/sessions/logout" method="GET">
      <button class="btn btn-primary" type="submit">Logout</button>
    </form>
  </div>
</div>