<h1 class=" m-2">Role ha sido cambiado</h1>
<button class="btn btn-info m-2" onclick="location.href='/products'"> Volver al Inicio</button><button class="btn btn-warning m-2 carrrito" >Carrito</button>
<hr>
<h2 class="m-2">{{this.message}}</h2>
<script src="/js/products.js"></script>